/*PROPRIETES GENERALE*/

/*COULEURS*/
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

/*POLICE*/
@mixin police-titre {
    font-family: 'Shrikhand', sans-serif;
}

@mixin police-texte {
    font-family: 'Roboto', sans-serif;
}

/*MISE EN PAGE*/

#bloc-page {
    max-width: 100%;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

p,
h2,
h4 {
    margin: 0;
}

/*HEADER*/

header {
    position: relative; 
    width: 100%;
    height: 70px;
    margin: auto;
    align-items: center;

    .header__retour {
        color: black;
        font-size: 20px;
        position: absolute;
        left: 15px;
        top: 25px; 
    }

    .header__logo {
        width: 100%;
        margin-bottom: 15px;
        justify-content: center;
        align-self: flex-end;
    }
}

/*IMAGE RESTAURANT*/

.image__restaurant {
    max-width: 800px;
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    
    
    .image__restaurant--plat {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*MENUS*/

.menu {
    flex-direction: column;
    position: relative;
    max-width: 800px;
    background-color: whitesmoke;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin: -50px auto 0;

    .menu__titre {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 25px 20px;
        position: relative;

        .titre__restaurant {
            @include police-titre;
        }

        .titre__coeur {
            font-size: 30px;
            align-items: center;

            .titre__coeur--inactif {
                position: absolute;
                width: 30px;
                height: 30px;
                align-items: center;
                justify-content: center;
                right: 20px;
                opacity: 1;
                z-index: 2;
            }
            .titre__coeur--actif {
                position: absolute;
                right: 20px;
                opacity: 0;
                z-index: 1;
                .fas {
                    font-size: 30px;
                }
            }

            &:hover {
                cursor: pointer;

                .titre__coeur--inactif {
                    transition: opacity 1s linear;
                    opacity: 0;
                    
                    .far {
                        font-size: 30px;
                        display: block;
                    }
                }
                .titre__coeur--actif {
                        width: 30px;
                        height: 30px;
                        align-items: center;
                        justify-content: center;
                        transition: opacity 1.5s linear;
                        opacity: 1;
                        
                        .fas {
                            font-size: 30px;
                            display: block;
                            background: -webkit-linear-gradient($couleur-primaire, $couleur-secondaire);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    
                }
            }
        }
    }

    .menu__plats {
        flex-direction: column;
        margin: 0 20px 30px;
        row-gap: 15px;

        .plats__titre {
            @include police-texte;
            width: 30px;
            overflow: visible;
            font-weight: lighter;
            border-bottom: 3px solid $couleur-tertiaire;
            padding-bottom: 3px;
        }

        .menu__entree--description,
        .menu__plats--description,
        .menu__desserts--description {
            padding: 0;
            margin: 0;
        }

        .description__assiette {
            flex-direction: row;
            width: 100%;
            max-width: 600px;
            height: 80px;
            background-color: white;
            border-radius: 20px;
            box-shadow: 3px 3px 5px lightgrey;
            align-self: center;
            overflow: hidden;
            opacity: 0;
            
            & .description {
                flex-direction: row;
                justify-content: space-between;
                min-width: 0;
                width: 100%;
                
            }

            & .assiette {
                flex-direction: column;
                row-gap: 10px;
                min-width: 0;
                max-width: 100%;
                height: 50px;
                margin: 15px;
                margin-right: 0;
                flex-shrink: 1;
                h4, p {
                    min-width: 0;
                    max-width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            & .prix {
                width: 40px;
                align-self: flex-end;
                margin-bottom: 15px;
            }

            & .validation {
                width: 0;
                

                & .fas {
                    font-size: 20px;
                    color: white;
                }
            }

            &:hover {
                cursor: pointer;

                .validation {
                    width: 100px;
                    align-items: center;
                    justify-content: center;
                    background-color: $couleur-tertiaire;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    transform-origin: 100% 50%;
                    transition: width 0.5s linear;
                    
                    .fas {
                    animation: rotation-check 0.4s linear;
                    }
                }
            }
        }
    }
}

/*ANIMATIONS MENUS*/

@keyframes animation-plats {
    from {
        transform: translateY(10%);
        
    }
    to {
        transform: translateY(0);
        
    }
}

@keyframes opacite {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*ANIMATIONS ENTREES*/
.premiere__entree {
    animation: animation-plats 1s linear 0.2s 1 normal forwards, opacite 0.5s linear 0.2s 1 normal forwards;
}
.deuxieme__entree {
    animation: animation-plats 1s linear 0.5s 1 normal forwards, opacite 0.5s linear 0.5s 1 normal forwards;
}
.troisieme__entree {
    animation: animation-plats 1s linear 0.8s 1 normal forwards, opacite 0.5s linear 0.8s 1 normal forwards;
}

/*ANIMATIONS PLATS*/

.premier__plat {
    animation: animation-plats 1s linear 1.3s normal forwards, opacite 0.5s linear 1.3s normal forwards;
}
.deuxieme__plat {
    animation: animation-plats 1s linear 1.6s normal forwards, opacite 0.5s linear 1.6s normal forwards;
}
.troisieme__plat {
    animation: animation-plats 1s linear 1.9s normal forwards, opacite 0.5s linear 1.9s normal forwards;
}

/*ANIMATIONS DESSERTS*/

.premier__dessert {
    animation: animation-plats 1s linear 2.4s normal forwards, opacite 0.5s linear 2.4s normal forwards;
}
.deuxieme__dessert {
    animation: animation-plats 1s linear 2.7s normal forwards, opacite 0.5s linear 2.7s normal forwards;
}
.troisieme__dessert {
    animation: animation-plats 1s linear 3s normal forwards, opacite 0.5s linear 3s normal forwards;
}

/*ANIMATIONS CHECK PLATS*/

@keyframes rotation-check {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*BOUTON COMMANDER*/

.bouton__commande {
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 10px auto 75px;
    color: white;
    border-radius: 25px;
    border-width: 0;
    background: linear-gradient(350deg, $couleur-primaire, $couleur-secondaire);
    box-shadow: 2px 2px 8px grey;
    
    &:hover {
        background: linear-gradient(350deg, lighten($couleur-primaire, 3), lighten($couleur-secondaire, 3));
        box-shadow: 5px 5px 10px grey;
        cursor: pointer;
    }
}

/*FOOTER*/

footer {
    flex-direction: column;
    width: 100%;
    color: whitesmoke;
    background-color: #363535;

    .footer__titre {
        @include police-titre;
    }
    
    .footer__menu {
        width: 80%;
        margin-left: 25px;
        margin-top: 20px;
    }

    .footer__liste {
        @include police-texte;
        flex-direction: column;
        row-gap: 8px;
        list-style-type: none;
        padding: 0;

        .footer__liste--proposition {
            flex-direction: row;
            padding-left: 3px;
            column-gap: 18px;
        }

        .footer__liste--partenaire {
            flex-direction: row;
            column-gap: 15px;
        }

        .footer__liste--contact .lien{
            color: white;
        }
    }
}
