/*PROPRIETES GENERALE*/

/*Couleurs*/
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

/*Police*/
@mixin police-titre {
    font-family: 'Shrikhand', sans-serif;
}

@mixin police-texte {
    font-family: 'Roboto', sans-serif;
}

/*Mise en page*/

#bloc-page {
    max-width: 100%;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

p,
h2,
h4 {
    margin: 0;
}

/*HEADER*/

header {
    min-width: 100%;
    height: 70px;
    align-items: center;

    .header__retour {
        color: black;
        font-size: 20px;
        padding-left: 20px;
    }

    .header__logo {
        width: 100%;
        height: fit-content;
        margin-bottom: 15px;
        justify-content: center;
        align-self: flex-end;
    }
}

/*IMAGE RESTAURANT*/

.image__restaurant {
    width: 100%;
    height: 450px;
    overflow: hidden;
    
    .image__restaurant--plat {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*MENUS*/

.menu {
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 50px;

    .menu__titre {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 15px;

        .titre__restaurant {
            @include police-titre;
        }

        .titre__coeur {
            font-size: 25px;
        }
    }

    .menu__entrees {
        flex-direction: column;
    }

}

/*BOUTON COMMANDER*/

.bouton__commande {
    width: 180px;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    border-radius: 30px;
    border-width: 0;
    background: linear-gradient(350deg, $couleur-primaire, $couleur-secondaire);
    box-shadow: 2px 2px 8px grey;
    
    &:hover {
        background: linear-gradient(350deg, lighten($couleur-primaire, 3), lighten($couleur-secondaire, 3));
        box-shadow: 5px 5px 10px grey;
        cursor: pointer;
    }
}

/*FOOTER*/

footer {
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    color: whitesmoke;
    background-color: #363535;

    .footer__titre {
        @include police-titre;
    }
    
    .footer__menu {
        width: 80%;
        margin-left: 25px;
        margin-top: 20px;
    }

    .footer__liste {
        @include police-texte;
        flex-direction: column;
        row-gap: 8px;
        list-style-type: none;
        padding: 0;

        .footer__liste--proposition {
            flex-direction: row;
            padding-left: 3px;
            column-gap: 18px;
        }

        .footer__liste--partenaire {
            flex-direction: row;
            column-gap: 15px;
        }

        .footer__liste--contact .lien{
            color: white;
        }
    }
}
