/*PROPRIETES GENERALE*/

/*Couleurs*/
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

/*Police*/
@mixin police-titre {
    font-family: 'Shrikhand', sans-serif;
}

@mixin police-texte {
    font-family: 'Roboto', sans-serif;
}

/*Mise en page*/

#bloc-page {
    max-width: 100%;
}

.flex {
    display: flex;
}



p,
h2,
h4 {
    margin: 0;
}

/*HEADER*/

header {
    min-width: 100%;
    height: 70px;
    box-shadow: 3px 3px 8px grey;

    .header__logo {
        width: 100%;
        height: fit-content;
        margin-bottom: 15px;
        justify-content: center;
        align-self: flex-end;
    }
}

header .fas {
    display: none;
}

/*FOOTER*/

footer {
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    color: whitesmoke;
    background-color: #363535;

    .footer__titre {
        @include police-titre;
    }
    
    .footer__menu {
        width: 80%;
        margin-left: 25px;
        margin-top: 20px;
    }

    .footer__liste {
        @include police-texte;
        flex-direction: column;
        row-gap: 8px;
        list-style-type: none;
        padding: 0;

        .footer__liste--proposition {
            flex-direction: row;
            padding-left: 3px;
            column-gap: 18px;
        }

        .footer__liste--partenaire {
            flex-direction: row;
            column-gap: 15px;
        }

        .footer__liste--contact .lien{
            color: white;
        }
    }
}
