/*PROPRIETES GENERALE*/

/*Couleurs*/
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

/*Police*/
@mixin police-titre {
    font-family: 'Shrikhand', sans-serif;
}

@mixin police-texte {
    font-family: 'Roboto', sans-serif;
}

/*Mise en page*/

#bloc-page {
    max-width: 100%;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

p,
h2,
h4 {
    margin: 0;
}

/*HEADER*/

header {
    min-width: 100%;
    height: 70px;
    align-items: center;

    .header__retour {
        color: black;
        font-size: 20px;
        position: absolute;
        left: 15px;
        top: 25px; 
    }

    .header__logo {
        width: 100%;
        margin-bottom: 15px;
        justify-content: center;
        align-self: flex-end;
    }
}

/*IMAGE RESTAURANT*/

.image__restaurant {
    max-width: 800px;
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    
    
    .image__restaurant--plat {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*MENUS*/

.menu {
    flex-direction: column;
    position: relative;
    max-width: 800px;
    background-color: whitesmoke;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin: -50px auto 0;

    .menu__titre {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 25px 20px;

        .titre__restaurant {
            @include police-titre;
        }

        .titre__coeur {
            font-size: 25px;
            margin-right: 20px;
        }
    }

    .menu__plats {
        flex-direction: column;
        margin: 0 20px 30px;
        row-gap: 15px;

        .plats__titre {
            @include police-texte;
            width: 30px;
            overflow: visible;
            font-weight: lighter;
            border-bottom: 3px solid $couleur-tertiaire;
            padding-bottom: 3px;
        }

        .menu__plats--description {
            padding: 0;
            margin: 0;
            transform-origin: 50% 0%;
        }
        
        .description__assiette {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            max-width: 600px;
            height: 80px;
            background-color: white;
            border-radius: 20px;
            box-shadow: 3px 3px 5px lightgrey;
            align-self: center;
            overflow: hidden;
            animation: translation 5s linear;
            
            & .description {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                padding: 15px;
            }

            & .assiette {
                flex-direction: column;
                row-gap: 10px;
            }

            & .prix {
                align-self: flex-end;
            }

            & .validation {
                width: 0;
                

                & .fas {
                    font-size: 20px;
                    color: white;
                }
            }

            &:hover {
                cursor: pointer;

                .validation {
                    width: 15%;
                    align-items: center;
                    justify-content: center;
                    background-color: $couleur-tertiaire;
                    transform-origin: 100% 50%;
                    transition: width 0.5s linear;

                    .fas {
                        animation: rotation-check 0.4s linear;
                    }
                }
            }
        }
    }
}
/*ESSAIS ANIMATIONS MENUS*/

.menu__plats--description {
    animation: deroule 3s linear, opacite 4s ease-in;
}
@keyframes opacite{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes deroule {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
@keyframes translation {
    from {
        transform: translateY(-50%)
    }
    to {
        transform: translateY(0)
    }
}
/*ANIMATION CHECK PLATS*/

@keyframes rotation-check {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*BOUTON COMMANDER*/

.bouton__commande {
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 10px auto 75px;
    color: white;
    border-radius: 25px;
    border-width: 0;
    background: linear-gradient(350deg, $couleur-primaire, $couleur-secondaire);
    box-shadow: 2px 2px 8px grey;
    
    &:hover {
        background: linear-gradient(350deg, lighten($couleur-primaire, 3), lighten($couleur-secondaire, 3));
        box-shadow: 5px 5px 10px grey;
        cursor: pointer;
    }
}

/*FOOTER*/

footer {
    flex-direction: column;
    width: 100%;
    color: whitesmoke;
    background-color: #363535;

    .footer__titre {
        @include police-titre;
    }
    
    .footer__menu {
        width: 80%;
        margin-left: 25px;
        margin-top: 20px;
    }

    .footer__liste {
        @include police-texte;
        flex-direction: column;
        row-gap: 8px;
        list-style-type: none;
        padding: 0;

        .footer__liste--proposition {
            flex-direction: row;
            padding-left: 3px;
            column-gap: 18px;
        }

        .footer__liste--partenaire {
            flex-direction: row;
            column-gap: 15px;
        }

        .footer__liste--contact .lien{
            color: white;
        }
    }
}
