/*PROPRIETES GENERALE*/

/*Couleurs*/
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

/*Police*/
@mixin police-titre {
    font-family: 'Shrikhand', sans-serif;
}

@mixin police-texte {
    font-family: 'Roboto', sans-serif;
}

/*Mise en page*/

#bloc-page {
    max-width: 100%;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

p,
h2,
h4 {
    margin: 0;
}

/*HEADER*/

header {
    min-width: 100%;
    height: 70px;
    box-shadow: 2px 2px 5px grey;

    .header__logo {
        width: 100%;
        height: fit-content;
        margin-bottom: 15px;
        justify-content: center;
        align-self: flex-end;
    }
}

header .fas {
    display: none;
}

/*RECHERCHE*/

.recherche {
    flex-direction: column;
    width: 100%;

    .recherche__localisation {
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        gap: 15px;
        background-color: #EAEAEA;
        z-index: -1;

        .recherche__localisation--champ {
            background-color: #EAEAEA;
            border: 0;
            }
            .recherche__localisation--champ::placeholder {
                color: black;
                opacity: 1;
            }
        }

    .recherche__adresse {
        flex-direction: column;
        width: 100%;
        height: 250px;
        justify-content: center;
        align-items: center;
        row-gap: 25px;
        background-color: #F7F6F6;

        .recherche__adresse--titre {
            text-align: center;
        }

        .recherche__adresse--texte {
            text-align: center;
            font-size: 20px;
        }
    }
}

.adresse__bouton {
    width: 220px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 25px;
    border-width: 0;
    background: linear-gradient(350deg, $couleur-primaire, $couleur-secondaire) ;
    box-shadow: 2px 2px 8px grey;
}

    .adresse__bouton:hover {
        background: $couleur-primaire;
        box-shadow: 5px 5px 10px grey;
        cursor: wait;
    }
    

/*FONCTIONNEMENT DU SITE*/

.guide {
    width: 100%;
    height: 350px;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    
    
    .guide__titre {
        width: 90%;
        margin: 0;
        align-items: baseline;
    }
    
    .guide__menu {
        flex-direction: column;
        row-gap: 20px;
        padding: 0;
        margin: 0;
    }
    
    .guide__etapes {
        width: calc(85% - 15px);
        height: 80px;
        position: relative;
        margin: 0;
        flex-direction: row;
        align-items: center;
        border-radius: 25px;
        background-color: #F7F6F6;
        box-shadow: 2px 2px 5px lightgrey;
        
        
        .guide__etapes--numero {
            width: 30px;
            height: 30px;
            position: absolute;
            align-items: center;
            justify-content: center;
            margin-left: -15px;
            border-radius: 15px;
            color: white;
            background-color: $couleur-primaire;
        }
        
        .guide__etapes--icone {
            width: 15%;
            margin-left: 50px;
            color: grey;
            background-color: none;
            box-shadow: none;
        }
        
        .guide__etapes--detail {
            @include police-texte;
            font-size: large;
            background-color: none;
            box-shadow: none;
        }
        
    }
    
    .guide__etapes--actif {
        background-color: #F4EDFE;
    }
}





.fa-store {
    color: $couleur-primaire;
}

/*LISTE DES RESTAURANTS*/

#liste_des_restaurants {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/*CARTES DES RESTAURANTS*/

.resultats__titre {
    width: 90%;
    align-content: flex-start;
    margin: 0 0 25px 0;
}

.restos {
    width: 90%;
    flex-direction: column;
    row-gap: 15px;
}

.restos__carte {
    width: 100%;
    height: 250px;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 10px lightgrey;
    position: relative;

    :hover{
        cursor: zoom-in;
    }

    .restos__carte--image {
        width: 100%;
        height: 75%;
        object-fit: cover;
    }

    .restos__carte--etiquette {
        width:fit-content;
        height: fit-content;
        padding: 5px 15px;
        border-radius: 3px;
        @include police-texte;
        color: #258667;
        background-color: $couleur-tertiaire;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .restos__carte--legende {
        height: 25%;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px;
    }
}

.legende__infos {
    flex-direction: column;
    color: black;
}

.legende__icone {
    color: black;

    .legende__icone--actif {
        display: none;
    }
}


/*FOOTER*/

footer {
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    color: whitesmoke;
    background-color: #363535;

    .footer__titre {
        @include police-titre;
    }
    
    .footer__menu {
        width: 80%;
        margin-left: 25px;
        margin-top: 20px;
    }

    .footer__liste {
        @include police-texte;
        flex-direction: column;
        row-gap: 8px;
        list-style-type: none;
        padding: 0;

        .footer__liste--proposition {
            flex-direction: row;
            padding-left: 3px;
            column-gap: 18px;
        }

        .footer__liste--partenaire {
            flex-direction: row;
            column-gap: 15px;
        }

        .footer__liste--contact .lien{
            color: white;
        }
    }
}
