/*PROPRIETES GENERALE*/

/*Couleurs*/
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

/*Police*/
@mixin police-titre {
    font-family: 'Shrikhand', sans-serif;
}

@mixin police-texte {
    font-family: 'Roboto', sans-serif;
}

/*Mise en page*/

#bloc-page {
    max-width: 100%;
}

.flex {
    display: flex;
}



p,
h2,
h4 {
    margin: 0;
}

/*HEADER*/

header {
    min-width: 100%;
    height: 70px;
    box-shadow: 3px 3px 8px grey;

    .header__logo {
        width: 100%;
        height: fit-content;
        margin-bottom: 15px;
        justify-content: center;
        align-self: flex-end;
    }
}

header .fas {
    display: none;
}

/*RECHERCHE*/

.recherche {
    flex-direction: column;
    width: 100%;
    margin-top: 5px;

    .recherche__localisation {
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        gap: 15px;
        background-color: #EAEAEA;
        

        .recherche__localisation--champ {
            height: 30px;
            background-color: #EAEAEA;
            border: 0;
            
            &::placeholder {
                text-align: center;
                color: black;
                opacity: 1;
            }
            
            &:focus {
            outline-color: lighten($color: $couleur-primaire, $amount: 25%);
            }
        }
    }
    
    .recherche__adresse {
        flex-direction: column;
        width: 100%;
        height: 250px;
        justify-content: center;
        align-items: center;
        row-gap: 25px;
        background-color: #F7F6F6;

        .recherche__adresse--titre {
            text-align: center;
        }

        .recherche__adresse--texte {
            text-align: center;
            font-size: 20px;
        }
    }
}

.adresse__bouton {
    width: 220px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 25px;
    border-width: 0;
    background: linear-gradient(350deg, $couleur-primaire, $couleur-secondaire);
    box-shadow: 2px 2px 8px grey;
    
    &:hover {
        background: linear-gradient(350deg, lighten($couleur-primaire, 3), lighten($couleur-secondaire, 3));
        box-shadow: 5px 5px 10px grey;
        cursor: pointer;
    }
}
    

/*FONCTIONNEMENT DU SITE*/

.guide {
    width: 100%;
    height: 350px;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    
    
    .guide__titre {
        width: 90%;
        margin: 0;
        align-items: baseline;
    }
    
    .guide__menu {
        width: 90%;
        flex-direction: column;
        row-gap: 20px;
        padding: 0;
        margin: 0;
    }
    
    .guide__etapes {
        width: 90%;
        height: 80px;
        position: relative;
        margin: 0;
        flex-direction: row;
        align-items: center;
        border-radius: 25px;
        background-color: #F7F6F6;
        box-shadow: 2px 2px 5px lightgrey;
        
        
        .guide__etapes--numero {
            width: 30px;
            height: 30px;
            position: absolute;
            z-index: 1;
            left: -15px;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            color: white;
            background-color: $couleur-primaire;
        }
        
        .guide__etapes--icone {
            width: fit-content;
            position: absolute;
            left: 40px;
            z-index: 1;
            color: grey;
            background-color: transparent;
            box-shadow: none;
        }
        
        .guide__etapes--detail {
            @include police-texte;
            width: fit-content;
            position: absolute;
            left: 80px;
            z-index: 1;
            font-size: large;
            background-color: transparent;
            box-shadow: none;
        }

        &:hover {
            cursor: pointer;
            background-color: lighten($color: $couleur-primaire, $amount: 35%);
            
            .fas {
                color: $couleur-primaire;
            }

            .guide__etapes--numero {
                background-color: $couleur-primaire;
            }
        }
        
    }
}

/*LISTE DES RESTAURANTS*/

#liste_des_restaurants {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/*CARTES DES RESTAURANTS*/

.resultats__titre {
    width: 90%;
    align-content: flex-start;
    margin: 0 0 25px 0;
}

.restos {
    width: 90%;
    height: 1050px;
    flex-direction: column;
    row-gap: 15px;
}

.restos__carte {
    width: 100%;
    height: 250px;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 10px lightgrey;
    position: relative;

    
    .restos__carte--image {
        width: 100%;
        height: 190px;
        object-fit: cover;
    }
    
    .restos__carte--etiquette {
        width:fit-content;
        height: fit-content;
        padding: 5px 15px;
        border-radius: 3px;
        @include police-texte;
        color: #258667;
        background-color: $couleur-tertiaire;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    
    .restos__carte--legende {
        width: 100%;
        height: 25%;
        position: absolute;
        bottom: 0;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px;
    }
    
    .legende__infos {
        flex-direction: column;
        color: black;
    }
}
    
.legende__icone {
    text-align: center;
    position: relative;
    right: 25px;
}

.icone__inactif {
    background: 0;
    border: 0;
    color: black;
    font-size: 30px;
    text-align: center;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    &:hover {
        cursor: pointer;
    }
    
    &:focus {
        display: none;
        & + .icone__actif {
            display: inline-flex;
            & > .fas {
                animation: remplissage 3s;
            }  
        }
    }
}

.icone__actif{
    background: 0;
    border: 0;
    width: 30px;
    height: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    
    .fas {
        font-size: 30px;
        display: block;
        background: -webkit-linear-gradient($couleur-primaire, $couleur-secondaire);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/*Animation coeurs*/

@keyframes remplissage {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/*FOOTER*/

footer {
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    color: whitesmoke;
    background-color: #363535;

    .footer__titre {
        @include police-titre;
    }
    
    .footer__menu {
        width: 80%;
        margin-left: 25px;
        margin-top: 20px;
    }

    .footer__liste {
        @include police-texte;
        flex-direction: column;
        row-gap: 8px;
        list-style-type: none;
        padding: 0;

        .footer__liste--proposition {
            flex-direction: row;
            padding-left: 3px;
            column-gap: 18px;
        }

        .footer__liste--partenaire {
            flex-direction: row;
            column-gap: 15px;
        }

        .footer__liste--contact .lien{
            color: white;
        }
    }
}
