/*PROPRIETES GENERALE*/

/*COULEURS*/
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-fond: #EAEAEA;
$couleur-texte-etiquettes: #258667;
$couleur-fond-footer: #363535;

/*POLICE*/
@mixin police-titre {
    font-family: 'Shrikhand', sans-serif;
}

@mixin police-texte {
    font-family: 'Roboto', sans-serif;
}

/*MISE EN PAGE*/

#bloc-page {
    position: relative;
    max-width: 100%;
    min-height: 100%;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

p,
h2,
h4 {
    margin: 0;
}

/*LOADING SPINNER*/

.cadre__load {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    bottom: 0;
    animation: effacement 2.5s ease-in-out 0.5s 1 normal forwards, disparition 0s linear 2.5s 1 normal forwards;
}

.load__spin {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:200px;
    height:200px;
    background:white;
    border:3px solid #EAEAEA;
    border-radius:50%;
    align-items: center;
    justify-content: center;
    @include police-titre;
    font-size:30px;
    color:$couleur-tertiaire;
    text-shadow:0 0 10px $couleur-tertiaire;
    box-shadow:0 0 20px grey;

    &:before {
        content:'';
        position:absolute;
        top:-3px;
        left:-3px;
        width:100%;
        height:100%;
        border:3px solid transparent;
        border-top:3px solid $couleur-tertiaire;
        border-right:3px solid $couleur-tertiaire;
        border-radius:50%;
        animation:rotation-point 1s linear 5;
    }

    span {
        display:block;
        position:absolute;
        top:calc(50% - 2px);
        left:50%;
        width:50%;
        height:4px;
        background:transparent;
        transform-origin:left;
        animation:trainee 1s linear 5;
        
        &:before {
            content:'';
            position:absolute;
            width:16px;
            height:16px;
            border-radius:50%;
            background:$couleur-tertiaire;
            top:-6px;
            right:-8px;
            box-shadow:0 0 20px $couleur-tertiaire;
        }
    }
}

@keyframes disparition {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes effacement {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes rotation-point {
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}

@keyframes trainee {
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}

/*HEADER*/

header {
    min-width: 100%;
    height: 70px;
    box-shadow: 3px 3px 8px grey;

    .header__logo {
        width: 100%;
        height: fit-content;
        margin-bottom: 15px;
        justify-content: center;
        align-self: flex-end;
    }
}

header .fas {
    display: none;
}

/*RECHERCHE*/

.recherche {
    flex-direction: column;
    width: 100%;
    margin-top: 5px;

    .recherche__localisation {
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        gap: 15px;
        background-color: $couleur-fond;
        

        .recherche__localisation--champ {
            height: 30px;
            background-color: $couleur-fond;
            border: 0;
            
            &::placeholder {
                text-align: center;
                color: black;
                opacity: 1;
            }
            
            &:focus {
            outline-color: lighten($color: $couleur-primaire, $amount: 25%);
            }
        }
    }
    
    .recherche__adresse {
        flex-direction: column;
        width: 100%;
        height: 250px;
        justify-content: center;
        align-items: center;
        row-gap: 25px;
        background-color: lighten($color: $couleur-fond, $amount: 5%);

        .recherche__adresse--titre {
            text-align: center;
        }

        .recherche__adresse--texte {
            text-align: center;
            font-size: 20px;
        }
    }
}

.adresse__bouton {
    width: 220px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 25px;
    border-width: 0;
    background: linear-gradient(350deg, $couleur-primaire, $couleur-secondaire);
    box-shadow: 2px 2px 8px grey;
    
    &:hover {
        background: linear-gradient(350deg, lighten($couleur-primaire, 3), lighten($couleur-secondaire, 3));
        box-shadow: 5px 5px 10px grey;
        cursor: pointer;
    }
}
    

/*FONCTIONNEMENT DU SITE*/

.guide {
    width: 100%;
    max-width: 600px;
    height: 350px;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    
    
    .guide__titre {
        width: 90%;
        margin: 0;
        align-items: baseline;
    }
    
    .guide__menu {
        width: 90%;
        flex-direction: column;
        row-gap: 20px;
        padding: 0;
        margin: 0;
    }
    
    .guide__etapes {
        width: 90%;
        height: 80px;
        position: relative;
        margin: 0;
        flex-direction: row;
        align-items: center;
        border-radius: 25px;
        background-color: lighten($color: $couleur-fond, $amount: 5%);
        box-shadow: 2px 2px 5px lightgrey;
        
        
        .guide__etapes--numero {
            width: 30px;
            height: 30px;
            position: absolute;
            z-index: 1;
            left: -15px;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            color: white;
            background-color: $couleur-primaire;
        }
        
        .guide__etapes--icone {
            width: fit-content;
            position: absolute;
            left: 40px;
            z-index: 1;
            color: grey;
            background-color: transparent;
            box-shadow: none;
        }
        
        .guide__etapes--detail {
            @include police-texte;
            width: fit-content;
            position: absolute;
            left: 80px;
            z-index: 1;
            font-size: large;
            background-color: transparent;
            box-shadow: none;
        }

        &:hover {
            cursor: pointer;
            background-color: lighten($color: $couleur-primaire, $amount: 35%);
            
            .fas {
                color: $couleur-primaire;
            }

            .guide__etapes--numero {
                background-color: $couleur-primaire;
            }
        }
        
    }
}

/*LISTE DES RESTAURANTS*/

#liste_des_restaurants {
    width: 100%;
    max-width: 600px;
    flex-direction: column;
    align-items: center;
}

/*CARTES DES RESTAURANTS*/

.resultats__titre {
    width: 90%;
    align-content: flex-start;
    margin: 0 0 25px 0;
}

.restos {
    width: 90%;
    height: 1050px;
    flex-direction: column;
    row-gap: 15px;
}

.restos__carte {
    width: 100%;
    height: 250px;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 10px lightgrey;
    position: relative;

    
    .restos__carte--image {
        width: 100%;
        height: 190px;
        object-fit: cover;
    }
    
    .restos__carte--etiquette {
        width:fit-content;
        height: fit-content;
        padding: 5px 15px;
        border-radius: 3px;
        @include police-texte;
        color: $couleur-texte-etiquettes;
        background-color: $couleur-tertiaire;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    
    .restos__carte--legende {
        width: 100%;
        height: 25%;
        position: absolute;
        bottom: 0;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px;
    }
    
    .legende__infos {
        flex-direction: column;
        color: black;
    }
}
    
.legende__icone {
    position: relative;
    align-items: center;
    font-size: 30px;
    
    .legende__icone--inactif {
        position: absolute;
        right: 30px;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        opacity: 1;
        z-index: 2;
    }

    .legende__icone--actif {
        position: absolute;
        right: 30px;
        z-index: 1;
        opacity: 0;
    }
        
    &:hover {
        cursor: pointer;
        
        .legende__icone--inactif {
            transition: opacity 1s linear;
            opacity: 0;
            
            .far {
                font-size: 30px;
                display: block;
            }
        }
        
        .legende__icone--actif{
            width: 30px;
            height: 30px;
            align-items: center;
            justify-content: center;
            transition: opacity 1.5s linear;
            opacity: 1;
            
            .fas {
                font-size: 30px;
                display: block;
                background: -webkit-linear-gradient($couleur-primaire, $couleur-secondaire);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

/*FOOTER*/

footer {
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    color: white;
    background-color: $couleur-fond-footer;

    .footer__titre {
        @include police-titre;
    }
    
    .footer__menu {
        width: 80%;
        margin-left: 25px;
        margin-top: 20px;
    }

    .footer__liste {
        @include police-texte;
        flex-direction: column;
        row-gap: 8px;
        list-style-type: none;
        padding: 0;

        .footer__liste--proposition {
            flex-direction: row;
            padding-left: 3px;
            column-gap: 18px;
        }

        .footer__liste--partenaire {
            flex-direction: row;
            column-gap: 15px;
        }

        .footer__liste--contact .lien{
            color: white;
        }
    }
}

/*MISE EN PAGE TABLETTE*/

@media (min-width: 768px) and (max-width:991px) {

    /*FONCTIONNEMENT DU SITE*/
    
    .guide {
        width: 600px;
        margin: 30px auto;

        .guide__titre {
            width: fit-content;
        }
    }

    /*LISTE DES RESTAURANTS*/

    #liste_des_restaurants {
        width: 600px;
        margin: auto;
    }

    .resultats__titre {
        justify-content: center;
    }
}

/*MISE EN PAGE DESKTOP*/

@media (min-width: 992px) {

    /*FONCTIONNEMENT DU SITE*/
    
    .guide {
        width: 100%;
        margin: 30px auto;

        .guide__titre {
            width: fit-content;
            font-size: xx-large;
        }

        .guide__menu {
            width: 600px;
        }
    }

    /*LISTE DES RESTAURANTS*/

    #liste_des_restaurants {
        max-width: 100%;
    }

    .resultats__titre {
        justify-content: center;
        font-size: xx-large;
    }

    .restos {
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
        row-gap: 50px;
        justify-content: space-around;


        .restos__carte {
            max-width: 600px;
        }
    }
}
