/*PROPRIETES GENERALE*/
/*Couleurs*/
/*Police*/
/*Mise en page*/
#bloc-page {
  max-width: 100%;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
}

p,
h2,
h4 {
  margin: 0;
}

/*HEADER*/
header {
  min-width: 100%;
  height: 70px;
  align-items: center;
}
header .header__retour {
  color: black;
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 25px;
}
header .header__logo {
  width: 100%;
  margin-bottom: 15px;
  justify-content: center;
  align-self: flex-end;
}

/*IMAGE RESTAURANT*/
.image__restaurant {
  max-width: 800px;
  max-height: 500px;
  overflow: hidden;
  margin: 0 auto;
}
.image__restaurant .image__restaurant--plat {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*MENUS*/
.menu {
  flex-direction: column;
  position: relative;
  max-width: 800px;
  background-color: whitesmoke;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin: -50px auto 0;
}
.menu .menu__titre {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 25px 20px;
  position: relative;
}
.menu .menu__titre .titre__restaurant {
  font-family: "Shrikhand", sans-serif;
}
.menu .menu__titre .titre__coeur {
  font-size: 30px;
  align-items: center;
}
.menu .menu__titre .titre__coeur .titre__coeur--inactif {
  position: absolute;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  right: 20px;
  opacity: 1;
  z-index: 2;
}
.menu .menu__titre .titre__coeur .titre__coeur--actif {
  position: absolute;
  right: 20px;
  opacity: 0;
  z-index: 1;
}
.menu .menu__titre .titre__coeur .titre__coeur--actif .fas {
  font-size: 30px;
}
.menu .menu__titre .titre__coeur:hover {
  cursor: pointer;
}
.menu .menu__titre .titre__coeur:hover .titre__coeur--inactif {
  transition: opacity 1s linear;
  opacity: 0;
}
.menu .menu__titre .titre__coeur:hover .titre__coeur--inactif .far {
  font-size: 30px;
  display: block;
}
.menu .menu__titre .titre__coeur:hover .titre__coeur--actif {
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  transition: opacity 1.5s linear;
  opacity: 1;
}
.menu .menu__titre .titre__coeur:hover .titre__coeur--actif .fas {
  font-size: 30px;
  display: block;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu .menu__plats {
  flex-direction: column;
  margin: 0 20px 30px;
  row-gap: 15px;
}
.menu .menu__plats .plats__titre {
  font-family: "Roboto", sans-serif;
  width: 30px;
  overflow: visible;
  font-weight: lighter;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 3px;
}
.menu .menu__plats .menu__entree--description,
.menu .menu__plats .menu__plats--description,
.menu .menu__plats .menu__desserts--description {
  padding: 0;
  margin: 0;
}
.menu .menu__plats .description__assiette {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  height: 80px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 5px lightgrey;
  align-self: center;
  overflow: hidden;
  opacity: 0;
}
.menu .menu__plats .description__assiette .description {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
.menu .menu__plats .description__assiette .assiette {
  flex-direction: column;
  row-gap: 10px;
}
.menu .menu__plats .description__assiette .prix {
  align-self: flex-end;
}
.menu .menu__plats .description__assiette .validation {
  width: 0;
}
.menu .menu__plats .description__assiette .validation .fas {
  font-size: 20px;
  color: white;
}
.menu .menu__plats .description__assiette:hover {
  cursor: pointer;
}
.menu .menu__plats .description__assiette:hover .validation {
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  transform-origin: 100% 50%;
  transition: width 0.5s linear;
}
.menu .menu__plats .description__assiette:hover .validation .fas {
  animation: rotation-check 0.4s linear;
}

/*ANIMATIONS MENUS*/
@keyframes animation-plats {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes opacite {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*Animations entrees*/
.premiere__entree {
  animation: animation-plats 1s linear 0.2s 1 normal forwards, opacite 0.5s linear 0.2s 1 normal forwards;
}

.deuxieme__entree {
  animation: animation-plats 1s linear 0.5s 1 normal forwards, opacite 0.5s linear 0.5s 1 normal forwards;
}

.troisieme__entree {
  animation: animation-plats 1s linear 0.8s 1 normal forwards, opacite 0.5s linear 0.8s 1 normal forwards;
}

/*Animations plats*/
.premier__plat {
  animation: animation-plats 1s linear 1.3s normal forwards, opacite 0.5s linear 1.3s normal forwards;
}

.deuxieme__plat {
  animation: animation-plats 1s linear 1.6s normal forwards, opacite 0.5s linear 1.6s normal forwards;
}

.troisieme__plat {
  animation: animation-plats 1s linear 1.9s normal forwards, opacite 0.5s linear 1.9s normal forwards;
}

/*Animtions desserts*/
.premier__dessert {
  animation: animation-plats 1s linear 2.4s normal forwards, opacite 0.5s linear 2.4s normal forwards;
}

.deuxieme__dessert {
  animation: animation-plats 1s linear 2.7s normal forwards, opacite 0.5s linear 2.7s normal forwards;
}

.troisieme__dessert {
  animation: animation-plats 1s linear 3s normal forwards, opacite 0.5s linear 3s normal forwards;
}

/*ANIMATION CHECK PLATS*/
@keyframes rotation-check {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*BOUTON COMMANDER*/
.bouton__commande {
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 10px auto 75px;
  color: white;
  border-radius: 25px;
  border-width: 0;
  background: linear-gradient(350deg, #9356DC, #FF79DA);
  box-shadow: 2px 2px 8px grey;
}
.bouton__commande:hover {
  background: linear-gradient(350deg, #9b63df, #ff88de);
  box-shadow: 5px 5px 10px grey;
  cursor: pointer;
}

/*FOOTER*/
footer {
  flex-direction: column;
  width: 100%;
  color: whitesmoke;
  background-color: #363535;
}
footer .footer__titre {
  font-family: "Shrikhand", sans-serif;
}
footer .footer__menu {
  width: 80%;
  margin-left: 25px;
  margin-top: 20px;
}
footer .footer__liste {
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  row-gap: 8px;
  list-style-type: none;
  padding: 0;
}
footer .footer__liste .footer__liste--proposition {
  flex-direction: row;
  padding-left: 3px;
  column-gap: 18px;
}
footer .footer__liste .footer__liste--partenaire {
  flex-direction: row;
  column-gap: 15px;
}
footer .footer__liste .footer__liste--contact .lien {
  color: white;
}

/*# sourceMappingURL=menus.css.map */
